html, body
{
    margin: 0px; padding: 0px
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

.content {
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: rgb(118, 140, 158);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(104, 111, 129);
    align-self: flex-start;
    padding: 8px;
    border-radius: 12px;
    margin: 16px;
}

.container {
    width: 400px;
    aspect-ratio: 1/1;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex-shrink: 0;
    margin: 8px;
}

.square {
    border: 1px;
    border-color: grey;
    border-style: solid;
    box-sizing: border-box;
}

.hovered {
    background-color: cadetblue;
}